# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
class Solution {
public:
    bool f(string s,int i){
        if(i==s.size()/2 ) return true;
        if(s[i]!=s[s.size()-1-i]) return false;
        return f(s,i+1);
    }
    bool isPalindrome(int x) {
        return f(to_string(x),0)==true;
    }
};
